@{
    ViewData[Constants.Title] = Miniblog.Web.Properties.Resources.Offline;
}
<div class="container">
    <h1>@Miniblog.Web.Properties.Resources.Offline</h1>
    <p>@Miniblog.Web.Properties.Resources.ThePageYouRequestedCanNotBeShownBecauseYouAreOffline</p>
</div>
