@using Miniblog.UseCases.Settings
@model List<Miniblog.UseCases.Dtos.PostDto>
@inject IOptionsSnapshot<BlogSettings> settings
@{
    int currentPage = int.Parse(ViewContext.RouteData.Values[Constants.Page] as string ?? "0");

    int totalPosts;
    totalPosts = int.TryParse(ViewData[Constants.TotalPostCount]!.ToString(), out totalPosts) ? totalPosts : 0;

    int totalPages = (totalPosts / this.settings.Value.PostsPerPage) - (totalPosts % this.settings.Value.PostsPerPage == 0 ? 1 : 0);
}

@foreach (var post in Model)
{
    await Html.RenderPartialAsync("Post.cshtml", post);
}

<nav class="pagination container" aria-label="Pagination">
    @if ((Model.Any()) && currentPage < totalPages)
    {
        <a rel="prev" href="@ViewData[Constants.Prev]" title="Older posts">&laquo; Older</a>
    }
    @if (currentPage > 0)
    {
        <a rel="next" href="@ViewData[Constants.Next]" title="Newer posts">Newer &raquo;</a>
    }
    <br /><br />

    @section Head {
        @if (Model.Any() && currentPage < totalPages)
        {
            <link rel="prev" href="@ViewData[Constants.Prev]" />
        }
        @if (currentPage > 0)
        {
            <link rel="next" href="@ViewData[Constants.Next]" />
        }
    }
</nav>

@{await Html.RenderPartialAsync("_SocialSharing", ViewData[Constants.Title]);}
